body {
    /* background-color: darkgray; */
}

p {
    margin-left: 1rem;
    /* color: ; */
}

#coffee-header {
    text-align: center;
    margin-bottom: 0;
}

#coffees {
display: flex;
flex-wrap: wrap;
align-items: baseline;
width: 80vw;
}

.coffee {
    width: 50%;
}

.coffee-text{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

#line-break {
    margin: 3px 0;
    background-color: black;
    height: 1px;
}

#content-wrapper {
    display: flex;
    justify-content: space-between;
}


.coffee-text {
    display: inline-flex;

}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    width: 90%;
    margin: 1rem;
    height: 30px;
}

.input-text {
    width: calc(90% - 7px)
}

.input-button {
    height: 40px;
}
